@using EinvoiceIntegration.Enum
@model EinvoiceIntegration.Sample.Models.B2C.InvoiceIssue
@{
    ViewBag.Title = "綠界科技";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>發票開立</h2>
<div class="div1">
    <table class="table">
        <tr>
            <th>
                廠商編號(必填)：
            </th>
            <td>
                @Html.TextBoxFor(m => m.MerchantID, new { @Value = "2000132" })
            </td>
        </tr>
        <tr>
            <th>
                商家自訂訂單編號(必填)：
            </th>
            <td>
                @Html.TextBoxFor(m => m.RelateNumber, new { @Value = "201907170000" })
            </td>
        </tr>
        <tr>
            <th>
                客戶代號(選填)：
            </th>
            <td>
                @Html.TextBoxFor(m => m.CustomerID, new { @Value = "" })
            </td>
        </tr>
        <tr>
            <th>
                統一編號(選填)：
            </th>
            <td>
                @Html.TextBoxFor(m => m.CustomerIdentifier, new { @Value = "" })
            </td>
        </tr>
        <tr>
            <th>
                客戶名稱(選填)：
            </th>
            <td>
                @Html.TextBoxFor(m => m.CustomerName, new { @Value = "翁健雄" })
            </td>
        </tr>
        <tr>
            <th>
                客戶地址(選填)：
            </th>
            <td>
                @Html.TextBoxFor(m => m.CustomerAddr, new { @Value = "116臺北市文山區(木柵)辛亥路七段五巷四弄一號四樓", @class = "text-long" })
            </td>
        </tr>
        <tr>
            <th>
                客戶手機號碼(選填)：
            </th>
            <td>
                @Html.TextBoxFor(m => m.CustomerPhone, new { @Value = "0960141549" })
            </td>
        </tr>
        <tr>
            <th>
                客戶電子信箱(選填)：
            </th>
            <td>
                @Html.TextBoxFor(m => m.CustomerEmail, new { @Value = "cliff.lin@ecpay.com.tw" })
            </td>
        </tr>
        <tr>
            <th>
                通關方式(選填)：
            </th>
            <td>
                @Html.DropDownListFor(m => m.ClearanceMark, new SelectList(Enum.GetValues(typeof(CustomsClearanceMarkEnum)), CustomsClearanceMarkEnum.None))
            </td>
        </tr>
        <tr>
            <th>
                列印註記(選填)：
            </th>
            <td>
                @Html.DropDownListFor(m => m.Print, new SelectList(Enum.GetValues(typeof(PrintEnum)), PrintEnum.No))
            </td>
        </tr>
        <tr>
            <th>
                捐贈註記(選填)：
            </th>
            <td>
                @Html.DropDownListFor(m => m.Donation, new SelectList(Enum.GetValues(typeof(DonationEnum)), DonationEnum.No))
            </td>
        </tr>
        <tr>
            <th>
                捐贈碼(選填)：
            </th>
            <td>
                @Html.TextBoxFor(m => m.LoveCode, new { @Value = "515", @class = "text-short" })
            </td>
        </tr>
        <tr>
            <th>
                載具類別(選填)：
            </th>
            <td>
                @Html.DropDownListFor(m => m.CarrierType, new SelectList(Enum.GetValues(typeof(CarrierTypeEnum)), CarrierTypeEnum.None))
            </td>
        </tr>
        <tr>
            <th>
                載具編號(選填)：
            </th>
            <td>
                @Html.TextBoxFor(m => m.CarrierNum, new { @Value = "" })
            </td>
        </tr>
        <tr>
            <th>
                課稅類別(選填)：
            </th>
            <td>
                @Html.DropDownListFor(m => m.TaxType, new SelectList(Enum.GetValues(typeof(TaxTypeEnum)), TaxTypeEnum.Taxable))
            </td>
        </tr>
        <tr>
            <th>
                特種稅率(課稅類別為特種稅率則必填)：
            </th>
            <td>
                @Html.DropDownListFor(m => m.SpecialTaxType, new SelectList(Enum.GetValues(typeof(SpecialTaxTypeEnum)), SpecialTaxTypeEnum.None))
            </td>
        </tr>
        <tr>
            <th>
                發票金額(必填)：
            </th>
            <td>
                @Html.TextBoxFor(m => m.SalesAmount, new { @Value = "10" })
            </td>
        </tr>
        <tr>
            <th>
                備註(選填)：
            </th>
            <td>
                @Html.TextBoxFor(m => m.InvoiceRemark, new { @Value = "" })
            </td>
        </tr>
        <tr>
            <th>
                商品明細(必填)：
            </th>
            <td>
                <a id="lnkAddItem">新增一列</a>
                <a id="lnkDelItem">刪除一列</a>
                <table id="tbItems">
                    <thead>
                        <tr>
                            <th>
                                NO.
                            </th>
                            <th>
                                商品名稱(必填)
                            </th>
                            <th>
                                商品數量(必填)
                            </th>
                            <th>
                                商品單位(必填)
                            </th>
                            <th>
                                商品價格(必填)
                            </th>
                            <th>
                                商品課稅別(選填)
                            </th>
                            <th>
                                商品合計(必填)
                            </th>
                            <th>
                                商品備註(選填)
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <th>
                發票字軌類別(必填)：
            </th>
            <td>
                @Html.DropDownListFor(m => m.InvType, new SelectList(Enum.GetValues(typeof(TrackTypeEnum)), TrackTypeEnum.Normal))
            </td>
        </tr>
        <tr>
            <th>
                發票開立時間(選填)：
            </th>
            <td>
                @Html.TextBoxFor(m => m.InvoiceDate, new { @Value = "" })
            </td>
        </tr>
        <tr>
            <th>
                商品單價是否含稅(選填)：
            </th>
            <td>
                @Html.DropDownListFor(m => m.Vat, new SelectList(Enum.GetValues(typeof(VatEnum)), VatEnum.Yes))
            </td>
        </tr>
        <tr>
            <th>
                通路商編號(選填):
            </th>
            <td>
                @Html.DropDownListFor(m => m.ChannelPartner, new SelectList(Enum.GetValues(typeof(ChannelPartnerEnum)), ChannelPartnerEnum.None))
            </td>
        </tr>
        <tr>
            <th>
                產品服務別代號：
            </th>
            <td>
                @Html.TextBoxFor(m => m.ProductServiceID)
            </td>
        </tr>
        <tr>
            <th>
                零稅率原因：
            </th>
            <td>
                @Html.DropDownListFor(m => m.ZeroTaxRateReason, new SelectList(Enum.GetValues(typeof(ZeroTaxRateReasonEnum)), ZeroTaxRateReasonEnum.None))
            </td>
        </tr>
    </table>
</div>

<div class="buttonPanel">
    <input type="submit" value="送出" id="btnSubmit" />
    <input type="submit" value="重新填寫" id="btnReset" />
</div>
<h2>顯示結果</h2>
<span id="answer" class="div1"></span>

<script type="text/javascript">
    var model = {
        Items: []
    };

    var resetHtml = $("#main").html();

    //商品明細 新增
    $('#lnkAddItem').click(function () {
        var newItemHtml = '<tr><td><span class="Items-ItemSeq"></span></td><td><input type="text" name="Items.ItemName" value="T1" /></td><td><input type="text" name="Items.ItemCount" value="1" /></td><td><input type="text" name="Items.ItemWord" value="個" /></td><td><input type="text" name="Items.ItemPrice" value="10" /></td><td><input type="text" name="Items.ItemTaxType" /></td><td><input type="text" name="Items.ItemAmount" value="10" /></td><td><input type="text" name="Items.ItemRemark" value="" /></td></tr>';
        var $item = $(newItemHtml).appendTo('#tbItems > tbody');
        $item.find('.Items-ItemSeq:first').text($item.index() + 1);
        model.Items.push({
            ItemName: '',
            ItemCount: 0,
            ItemPrice: 0,
            ItemAmount: 0,
            ItemTax: 0,
            ItemRemark: ''
        });
        return false;
    }).click();

    //商品明細 刪除
    $('#lnkDelItem').click(function () {
        if ($('#tbItems > tbody > tr').length <= 1) return false;
        $('#tbItems > tbody > tr:last').remove();
        model.Items.pop();
        return false;
    });

    $('#btnSubmit').click(function () {
        model.MerchantID = $('#MerchantID').val();
        model.RelateNumber = $('#RelateNumber').val();
        model.CustomerID = $('#CustomerID').val();
        model.CustomerName = $('#CustomerName').val();
        model.CustomerAddr = $('#CustomerAddr').val();
        model.CustomerPhone = $('#CustomerPhone').val();
        model.InvType = $('#InvType').val();
        model.InvoiceTime = $('#InvoiceDate').val();
        model.CustomerIdentifier = $('#CustomerIdentifier').val();
        model.CustomerEmail = $('#CustomerEmail').val();
        model.Print = $('#Print').val();
        model.Donation = $('#Donation').val();
        model.LoveCode = $('#LoveCode').val();
        model.CarrierType = $('#CarrierType').val();
        model.CarrierNum = $('#CarrierNum').val();
        model.TaxType = $('#TaxType').val();
        model.SalesAmount = $('#SalesAmount').val();
        model.Vat = $('#Vat').val();
        model.ClearanceMark = $('#ClearanceMark').val() || null;
        model.InvoiceRemark = $('#InvoiceRemark').val();
        model.SpecialTaxType = $('#SpecialTaxType').val();
        model.ChannelPartner = $('#ChannelPartner').val();
        model.ProductServiceID = $('#ProductServiceID').val();
        model.ZeroTaxRateReason = $('#ZeroTaxRateReason').val();
        var $rows = $("#tbItems > tbody > tr");
        $('#tbItems > tbody > tr').each(function (i) {
            var $tr = $($rows[i]);
            var item = model.Items[i];
            item.ItemSeq = (i + 1);
            item.ItemTaxType = $tr.find('input[name="Items.ItemTaxType"]:first').val();
            item.ItemAmount = $tr.find('input[name="Items.ItemAmount"]:first').val();
            item.ItemPrice = $tr.find('input[name="Items.ItemPrice"]:first').val();
            item.ItemCount = $tr.find('input[name="Items.ItemCount"]:first').val();
            item.ItemName = $tr.find('input[name="Items.ItemName"]:first').val();
            item.ItemWord = $tr.find('input[name="Items.ItemWord"]:first').val();
            item.ItemRemark = $tr.find('input[name="Items.ItemRemark"]:first').val();
        });

        $.ajax({
            url: '@Url.Action("InvoiceIssue")',
            data: JSON.stringify(model),
            contentType: "application/json",
            dataType: "json",
            type: "POST",
            success: function (result) {
                $('#answer').text(JSON.stringify(result));
            }
        });
    });

    $('#btnReset').click(function () {
        $("#main").html(resetHtml);
        model = {
            Items: [
                {
                    ItemName: '',
                    ItemCount: 0,
                    ItemPrice: 0,
                    ItemAmount: 0,
                    ItemTax: 0,
                    ItemRemark: ''
                }
            ]
        };
    });
</script>