@using EinvoiceIntegration.Enum
@model EinvoiceIntegration.Models.B2B.AllowanceModel
@{
    ViewBag.Title = "綠界科技";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>開立折讓</h2>
<div class="div1">
    <table class="table" style="word-wrap:break-word;">
        <tr>
            <th>
                廠商編號(必填)：
            </th>
            <td>
                @Html.TextBoxFor(m => m.MerchantID)
            </td>
        </tr>
        <tr>
            <th>
                折讓金額總計(未稅)(必填)：
            </th>
            <td>
                @Html.TextBoxFor(m => m.TotalAmount)
            </td>
        </tr>
        <tr>
            <th>
                折讓日期 yyyy/MM/dd：
            </th>
            <td>
                @Html.TextBoxFor(m => m.AllowanceDate, new { @placeholder = "yyyy/MM/dd" })
            </td>
        </tr>
        <tr>
            <th>
                營業稅額：
            </th>
            <td>
                @Html.TextBoxFor(m => m.TaxAmount)
            </td>
        </tr>
        <tr>
            <th>
                聯絡人電子郵件：
            </th>
            <td>
                @Html.TextBoxFor(m => m.CustomerEmail)
            </td>
        </tr>
        <tr>
            <th>
                公司地址：
            </th>
            <td>
                @Html.TextBoxFor(m => m.CustomerAddress)
            </td>
        </tr>
        <tr>
            <th>
                商品明細(必填)：
            </th>
            <td>
                <a id="lnkAddItem" class="btn btn-primary">新增一列</a>
                <a id="lnkDelItem" class="btn btn-primary">刪除一列</a>
                <table id="tbItems">
                    <thead>
                        <tr>
                            <th>
                                原發票號碼(選填)
                            </th>
                            <th>
                                原發票日期(選填) yyyy-MM-dd
                            </th>
                            <th>
                                原發票號碼排序(必填)
                            </th>
                            <th>
                                商品名稱(必填)
                            </th>
                            <th>
                                商品數量(必填)
                            </th>
                            <th>
                                商品單價(未稅)(必填)
                            </th>
                            <th>
                                商品合計(未稅)(必填)
                            </th>
                            <th>
                                商品稅額(選填)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

<div class="buttonPanel">
    <input type="submit" value="送出" id="btnSubmit" />
    <input type="submit" value="重新填寫" id="btnReset" />
</div>
<h2>顯示結果</h2>
<span id="answer" class="div1" style="word-wrap:break-word;"></span>

<script type="text/javascript">
    var model = {
        Details: []
    };

    var resetHtml = $("#main").html();

    //商品明細 新增
    $('#lnkAddItem').click(function () {
        var newItemHtml = '<tr><td><input type="text" name="Details.OriginalInvoiceNumber" /></td><td><input type="text" name="Details.OriginalInvoiceDate" /></td><td><input type="text" name="Details.OriginalSequenceNumber" value="1" /></td><td><input type="text" name="Details.ItemName" value="T1" /></td><td><input type="text" name="Details.ItemCount" value="1" /></td><td><input type="text" name="Details.ItemPrice" value="10" /><td><input type="text" name="Details.ItemAmount" value="10" /></td><td><input type="text" name="Details.Tax" value="10" /></td></tr>';
        var $item = $(newItemHtml).appendTo('#tbItems > tbody');
        model.Details.push({
            OriginalInvoiceNumber: '',
            OriginalInvoiceDate: '',
            OriginalSequenceNumber: 1,
            ItemName: '',
            ItemCount: 0,
            ItemPrice: 0,
            ItemAmount: 0,
            Tax: 0,
        });
        return false;
    }).click();

    //商品明細 刪除
    $('#lnkDelItem').click(function () {
        if ($('#tbItems > tbody > tr').length <= 1) return false;
        $('#tbItems > tbody > tr:last').remove();
        model.Details.pop();
        return false;
    });

    $('#btnSubmit').click(function () {
        model.MerchantID = $('#MerchantID').val();
        model.AllowanceDate = $('#AllowanceDate').val();
        model.TaxAmount = $('#TaxAmount').val();
        model.TotalAmount = $('#TotalAmount').val();
        model.CustomerEmail = $('#CustomerEmail').val();
        model.CustomerAddress = $('#CustomerAddress').val();
        var $rows = $("#tbItems > tbody > tr");
        $('#tbItems > tbody > tr').each(function (i) {
            var $tr = $($rows[i]);
            var item = model.Details[i];
            item.OriginalInvoiceNumber = $tr.find('input[name="Details.OriginalInvoiceNumber"]:first').val();
            item.OriginalInvoiceDate = $tr.find('input[name="Details.OriginalInvoiceDate"]:first').val();
            item.OriginalSequenceNumber = $tr.find('input[name="Details.OriginalSequenceNumber"]:first').val();
            item.ItemName = $tr.find('input[name="Details.ItemName"]:first').val();
            item.ItemCount = $tr.find('input[name="Details.ItemCount"]:first').val();
            item.ItemPrice = $tr.find('input[name="Details.ItemPrice"]:first').val();
            item.ItemAmount = $tr.find('input[name="Details.ItemAmount"]:first').val();
            item.Tax = $tr.find('input[name="Details.Tax"]:first').val();
        });

        $.ajax({
            url: '@Url.Action("Allowance")',
            data: JSON.stringify(model),
            contentType: "application/json",
            dataType: "json",
            type: "POST",
            success: function (result) {
                $('#answer').text(JSON.stringify(result));
            }
        });
    });

    $('#btnReset').click(function () {
        $("#main").html(resetHtml);
        model = {
            Details: [
                {
                    OriginalInvoiceNumber: '',
                    OriginalInvoiceDate: '',
                    OriginalSequenceNumber: 1,
                    ItemName: '',
                    ItemCount: 0,
                    ItemPrice: 0,
                    ItemAmount: 0,
                    Tax: 0
                }
            ]
        };
    });
</script>