@using EinvoiceIntegration.Enum
@model EinvoiceIntegration.Models.B2C.GetAllowanceListModel
@{
    ViewBag.Title = "綠界科技";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('#reset').click(function () {
            location.href='@Url.Action("Index")';
        });
    });
</script>
@using (Html.BeginForm("Index", "B2CInvoiceGetAllowanceList", FormMethod.Post))
{
    <h2>查詢折讓(紙本)</h2>
    <div class="div1">
        <table class="table">
            <tr>
                <th>
                    廠商編號(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.MerchantID)
                </td>
            </tr>
            <tr>
                <th>
                    查詢方式(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.SearchType)
                </td>
            </tr>
            <tr>
                <th>
                    折讓編號(選填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.AllowanceNo)
                </td>
            </tr>
            <tr>
                <th>
                    發票號碼(選填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.InvoiceNo)
                </td>
            </tr>
            <tr>
                <th>
                    日期(選填) yyyy-MM-dd：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.Date)
                </td>
            </tr>
        </table>
    </div>

    <div class="buttonPanel">
        <button type="submit">送出</button>
        <button type="button" id="reset">重新填寫</button>
    </div>
    <h2>顯示結果</h2>
    <span id="answer" class="div1" style="word-wrap:break-word;">@ViewBag.message</span>
}