@using EinvoiceIntegration.Enum
@model EinvoiceIntegration.Models.B2B.NotifyModel
@{
    ViewBag.Title = "綠界科技";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('#reset').click(function () {
            location.href='@Url.Action("Index")';
        });
    });
</script>
@using (Html.BeginForm("Index", "B2BInvoiceNotify", FormMethod.Post))
{
    <h2>發送通知</h2>
    <div class="div1">
        <table class="table" style="word-wrap:break-word;">
            <tr>
                <th>
                    廠商編號(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.MerchantID)
                </td>
            </tr>
            <tr>
                <th>
                    發送內容類型(必填) 1: 發票開立 2: 發票作廢 3: 發票退回 4: 折讓單開立 5:折讓單作廢 6:發票開立確認 7:發票作廢確認 8:發票退回確認 9:折讓單開立確認 10:折讓單作廢確認：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.InvoiceTag, new { @Value = "1" })
                </td>
            </tr>
            <tr>
                <th>
                    發送對象(必填) C: 發送通知給客戶 M: 發送通知給合作特店 A: 皆發送通知：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.Notified, new { @Value = "C" })
                </td>
            </tr>
            <tr>
                <th>
                    發票日期(必填) yyyy/MM/dd：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.InvoiceDate, new { @Value = "2021-08-16", @placeholder = "yyyy/MM/dd" })
                </td>
            </tr>
            <tr>
                <th>
                    發票號碼(必填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.InvoiceNumber, new { @Value = "MJ20003272" })
                </td>
            </tr>
            <tr>
                <th>
                    折讓單編號(選填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.AllowanceNo)
                </td>
            </tr>
            <tr>
                <th>
                    通知 EMail(選填)：
                </th>
                <td>
                    @Html.TextBoxFor(m => m.NotifyMail, new { @Value = "test@ecpay.com.tw" })
                </td>
            </tr>
        </table>
    </div>

    <div class="buttonPanel">
        <button type="submit">送出</button>
        <button type="button" id="reset">重新填寫</button>
    </div>
    <h2>顯示結果</h2>
    <span id="answer" class="div1" style="word-wrap:break-word;">@ViewBag.message</span>
}